.product-image-container {
  margin-left: auto;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.product-image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.product-image-container:hover img {
  transform: scale(2.3);
  z-index: 10;
  position: relative;
}

.list-group-item {
  position: relative;
}

.product-details {
  flex: 1;
  padding-right: 20px;
}

.accordion .card .card-body {
  overflow: visible;
}

.cesta-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-cesta {
  max-width: 100px;
  height: auto;
}
